@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model AHR.Models.Login

@{
}
<div class="row  justify-content-center align-items-center mt-5">
    <div class="col-sm-12 col-md-8 col-lg-5 col-xl-4">

        <div class="card border-success">
            <div class="card-header text-center  text-white bg-success ">
                <h4 class="text-white"><b>AHR</b> LOGIN</h4>
            </div>
            
            <form method="post" asp-controller="Account" asp-action="Login">

                <div class="m-3">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control border-success" placeholder="Email" asp-for="Email">
                    <b> <span asp-validation-for="Email" class="text-danger mt-1"></span></b>
                </div>

                <div class="m-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control border-success" placeholder="Password" asp-for="Password">
                    <b> <span asp-validation-for="Password" class="text-danger mt-1"></span></b>
                </div>

                <div class="m-3">
                    <b> <spanclass class="text-danger">@TempData["Error"] </ span ></b>
                </div>

                <div class="row m-3">
                    <div class="col-8">
                        <a href="/Account/Register" class="text-primary font-weight-bolder text-decoration-none">Don't Have Account?</a>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-outline-success btn-group-lg">SIGN IN</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </div>
</div>