@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/images/slider.jpg" alt="First slide">
                <div class="carousel-caption">
                    <h3>Adopt and support  </h3>
                    <p> A Hindu Refugee Family</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/mt-0822-home-slide2.jpg" alt="First slide">
                <div class="carousel-caption">
                    <h3>They chose Dharma over luxury.</h3>
                    <p>  They left their home country to save their Dharma...</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/slider2.jpg" alt="First slide">
                <div class="carousel-caption">
                    <h3>If your answer is YES, please </h3>

                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<section>
    <div class="notice_line">
        <marquee scrollamount="3">
            <ul class="list-unstyled">

                <li><a href="Notices.aspx">ADOPT AND SAVE A HINDU REFUGEE FAMILY</a></li>

                <li><a href="Notices.aspx"> ADOPT AND SAVE A HINDU REFUGEE FAMILY</a></li>


            </ul>
        </marquee>
    </div>

</section>
<section class="bg-light-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content-wraper  title text-center pt-5 pb-4">
                    <p class="sun-text mb-0">Welcome To </p>
                    <h1><span>ADOPT AND SAVE A HINDU REFUGEE FAMILY</span></h1>

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                </div>

            </div>
            <div class="col-lg-12">
                <div class="row px-0 pb-5">
                    <div class="col-lg-4">
                        <div class="callouts cta1">
                            <img src="~/images/activity_based_class.jpg">

                            <div class="callouts_caption">

                                <div class="cta-content-inner">
                                    <a href="#">
                                        <img src="~/images/icon1.png" class="cta-section-icon" alt="Icon for Future Students">
                                    </a>
                                    <h2><a href="">Save life</a></h2>
                                    <a href="#">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="callouts cta2">
                            <img src="~/images/smart_class.jpg">
                            <div class="callouts_caption">
                                <div class="cta-content-inner">
                                    <a href="#">
                                        <img src="~/images/icon2.png" class="cta-section-icon" alt="Icon for Future Students">
                                    </a>
                                    <h2><a href="#">We Support</a> </h2>
                                    <a href="#">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="callouts cta3">
                            <img src="~/images/computer_lab.jpg">
                            <div class="callouts_caption">
                                <div class="cta-content-inner">
                                    <a href="#">
                                        <img src="~/images/icon3.png" class="cta-section-icon" alt="Icon for Future Students">
                                    </a>
                                    <h2><a href="#">Appreciate</a></h2>
                                    <a href="Latestcomputerlab.aspx">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>

    <div class="grid-g">
        <div class="img-grid">
            <img src="~/images/ui.jpg">

        </div>
        <div class="content-grid">
            <div class="content-r">
                <div class="title-h4">
                    <h4> Adopt and support a Hindu Refugee Family</h4>
                </div>
                <p class="sub-content">
                    They chose Dharma over luxury. They left their home country to save their Dharma...
                </p>
                <p class="clas-text">Shouldn't we appreciate their courage and determination to save their Dharma?</p>
                <p class="clas-text">Shouldn't we help them to live honorable life with all beasic necessities of life?</p>
                <p class="clas-text">Shouldnt we enable and train them to get on their feet so that dont need our support in future?</p>
            </div>

        </div>

    </div>
</section>

</section>
<section class="default-section">
    <div class="container">
        <div class="row clearfix">
            <!--Column-->
            <div class="column icon-left-column col-md-6 col-sm-6 col-xs-12">
                <article class="inner-box">
                    <div class="icon" style="background: #106eaa;">
                        <img src="~/images/view.png" alt="">
                    </div>
                    <h3>OUR VISION</h3>
                    <p>
                        In this project we connect one enabler/donor to one hindu family to support. We have team on ground to help work. Enables/Donor will have opportunity to talk/video with the family members. And can meet in the refugee camp also.
                    </p>

                </article>
            </div>

            <!--Column-->
            <div class="column icon-left-column col-md-6 col-sm-6 col-xs-12">
                <article class="inner-box">
                    <div class="icon" style="background:#106eaa;">
                        <img src="~/images/flag.png" alt="">
                    </div>
                    <h3>OUR MISSION</h3>
                    <p>Objective of this mission is more of enabling the family to self saustain their expenses and childen education. But to achieve this they need our financial and moral support till they become self sustained.</p>

                </article>
            </div>
        </div>
    </div>
</section>

<div class="grid-g">

    <div class="content-grid">
        <div class="content-r">

            <p class="clas-text">
                They were persecuted in their home country because of their faith and believe in Sanatan Dharma. Their family members were kidanpped, raped and forced converted to other faiths, so they decided to take shelter in India as refugee. Homeless, Starving and on streets but determined hindu. All this just because their fault was that they were Hindus.
            </p>
        </div>

    </div>
    <div class="img-grid">
        <img src="~/images/ui1.jpg">

    </div>

</div>
</section>

   </section>

<div class=" team-wrapper team pb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content-wraper  title text-center ">
                    <h1 class="text-white">

                        WHAT WE DO
                    </h1>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="acaddemic_wrapp">
                    <div class="aca_img">
                        <img src="~/images/deled.png">
                    </div>
                    <div class="aca_caption">
                        <h3>Appreciate</h3>
                        <p>
                            Shouldn't we appreciate their courage and determination to save their Dharma?
                        </p>
                        <br>
                    </div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="acaddemic_wrapp">
                    <div class="aca_img">
                        <img src="~/images/deled.png">
                    </div>
                    <div class="aca_caption">
                        <h3>Save life</h3>
                        <p>
                            Shouldn't we help them to live honorable life with all beasic necessities of life?
                        </p>
                        <br>
                    </div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="acaddemic_wrapp">
                    <div class="aca_img">
                        <img src="~/images/deled.png">
                    </div>
                    <div class="aca_caption">
                        <h3>We Support</h3>
                        <p>
                            Shouldnt we enable and train them to get on their feet and doesnt require our support?
                        </p>
                        <br>
                    </div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="acaddemic_wrapp">
                    <div class="aca_img">
                        <img src="~/images/deled.png">
                    </div>
                    <div class="aca_caption">
                        <h3>We Support</h3>
                        <p>
                            Shouldnt we enable and train them to get on their feet and doesnt require our support?
                        </p>
                        <br>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="testimonials-wrapper">
        <div class="container">
            <div class="row">
                <!--<div class="title">
                  <h2>News & <span>Updates</span></h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>-->
                <div class="col-md-12 col-sm-7 border_dasho mb-3">
                    <div class="principal_wrapp">

                        <div class="principal_info">
                            <h3>HOW YOU CAN HELP</h3>
                            <h4>
                                Donate
                                Every rupee counts! You can make a difference. Come forward, now…
                            </h4>
                            <p class="align_right"> <a href="" data-toggle="modal" data-target="#exampleModal" class="btn hoverable rmore"><span class="anim"></span>CONTACT US</a></p>
                        </div>
                        <div class="clearfix"></div>


                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="gallery_section">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h2>Our <span>Gallery</span></h2>
                    <p>Besides the colorful events dotting our academic session, we have regular Hobby classes in School, Such as Clay modeling, Casio, Karate, Cricket, Classical Dance etc. </p>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="image_wrapp_gallery">

                        <a href="images/gallery.jpg" class="b-link-stripe  example-image-link" data-lightbox="example-set">
                            <img id="ContentPlaceHolder1_Repeater1_img_0" class="img-responsive im" src="~/images/gallery.jpg">
                        </a>

                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="image_wrapp_gallery">

                        <a href="images/gallery.jpg" class="b-link-stripe  example-image-link" data-lightbox="example-set">
                            <img id="ContentPlaceHolder1_Repeater1_img_0" class="img-responsive im" src="~/images/gallery.jpg">
                        </a>

                    </div>
                </div>


                <div class="col-md-4 col-sm-4">
                    <div class="image_wrapp_gallery">

                        <a href="images/gallery.jpg" class="b-link-stripe  example-image-link" data-lightbox="example-set">
                            <img id="ContentPlaceHolder1_Repeater1_img_0" class="img-responsive im" src="~/images/gallery.jpg">
                        </a>

                    </div>
                </div>


                <div class="col-md-4 col-sm-4">
                    <div class="image_wrapp_gallery">

                        <a href="images/gallery.jpg" class="b-link-stripe  example-image-link" data-lightbox="example-set">
                            <img id="ContentPlaceHolder1_Repeater1_img_0" class="img-responsive im" src="~/images/gallery.jpg">
                        </a>

                    </div>
                </div>


                <div class="col-md-4 col-sm-4">
                    <div class="image_wrapp_gallery">

                        <a href="images/gallery.jpg" class="b-link-stripe  example-image-link" data-lightbox="example-set">
                            <img id="ContentPlaceHolder1_Repeater1_img_0" class="img-responsive im" src="~/images/gallery.jpg">
                        </a>

                    </div>
                </div>


                <div class="col-md-4 col-sm-4">
                    <div class="image_wrapp_gallery">

                        <a href="images/gallery.jpg" class="b-link-stripe  example-image-link" data-lightbox="example-set">
                            <img id="ContentPlaceHolder1_Repeater1_img_0" class="img-responsive im" src="~/images/gallery.jpg">
                        </a>

                    </div>
                </div>






            </div>
        </div>
    </div>
</section>



<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Do you want to help? Please contact us and
                    we will get back to you
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="reused_form">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" name="name" required="" class="form-control" placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" required="" class="form-control" placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="number" name="number" required="" class="form-control" placeholder="Enter Phone">
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                        <textarea rows="3" name="message" class="form-control" placeholder="Type Your Message"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-raised btn-lg btn-warning" type="submit">Send</button>
                    </div>
                </form>
            </div>
            <!--  <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-primary">Save changes</button>
             </div> -->
        </div>
    </div>
</div>